﻿@model Advocatesofkerala_mvc.Models.law_admin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start container-->
<div class="container">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pwd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pwd)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
