﻿@model Advocatesofkerala_mvc.Models.law_admin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start container-->
<div class="container">
    <div>
        <h4>law_admin</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pwd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pwd)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AdminID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
 </div>