﻿@model IEnumerable<Advocatesofkerala_mvc.Models.law_admin>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!--start container-->
        <div class="container">
            <h1>Advocates of Kerala</h1>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pwd)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pwd)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.AdminID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.AdminID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.AdminID })
                        </td>
                    </tr>
                }

            </table>
</div>
