﻿
@{
    ViewBag.Title = "_Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    
    <div class="container">
        <div class="section-repeat"> <!--body pattern -->
            
            <!--start wrapper row-->
            <div class="wrapper-row">
                <!--start col md 3-->
                <!--start District Menu -->
                <div class="col-md-3 hidden-sm hidden-xs bg-fff padding-bottom-two margin-top-20 padding-top-20px">
                    <!--start wrapper row-->
                    <div class="wrapper-row list-items bg-fff">
                        <ul>
                            <li><a href="~/Directory/BarAssociation/">ALL BAR ASSOCIATIONS</a></li>
                            <li><button class="toggle-button button-1">Thiruvananthapuram</button></li>
                            <ul class="toggle-1">
                                <li>
                                    <a href="~/Directory/BarAssociation/14">Trivandrum</a>
                                </li>
                                <li><a href="~/Directory/BarAssociation/18">Attingal</a></li>
                                <li><a href="~/Directory/BarAssociation/43">Nedumangad</a></li>
                                <li><a href="~/Directory/BarAssociation/65">Varkala</a></li>
                                <li><a href="~/Directory/BarAssociation/45">Neyyattinkara </a></li>
                                <li><a href="~/Directory/BarAssociation/76">Kattakkada</a></li>
                            </ul>



                            <li><button class="toggle-button button-2">Kollam</button></li>
                            <ul class="toggle-2">
                                <li><a href="~/Directory/BarAssociation/11">Kollam</a></li>
                                <li><a href="~/Directory/BarAssociation/81">Karunagappally</a></li>
                                <li><a href="~/Directory/BarAssociation/38">Kottarakkara</a></li>
                                <li><a href="~/Directory/BarAssociation/58">Punalur</a></li>
                                <li><a href="~/Directory/BarAssociation/77">Sasthamcotta</a></li>
                            </ul>



                            <li><button class="toggle-button button-3">Pathanamthitta</button></li>
                            <ul class="toggle-3">
                                <li><a href="~/Directory/BarAssociation/49">Pathanamthitta</a></li>
                                <li><a href="~/Directory/BarAssociation/61">Thiruvalla</a></li>
                                <li><a href="~/Directory/BarAssociation/72">Ranny</a></li>
                                <li><a href="~/Directory/BarAssociation/15">Adoor </a></li>
                            </ul>


                            <li><button class="toggle-button button-4">Alappuzha</button></li>
                            <ul class="toggle-4">
                                <li><a href="~/Directory/BarAssociation/85">Alleppey</a></li>
                                <li><a href="~/Directory/BarAssociation/7">Mavelikkara</a></li>
                                <li><a href="~/Directory/BarAssociation/23">Chengannur</a></li>
                                <li><a href="~/Directory/BarAssociation/29">Harippad</a></li>
                                <li><a href="~/Directory/BarAssociation/36">Kayamkulam</a></li>
                                <li><a href="~/Directory/BarAssociation/59">Cherthala</a></li>
                            </ul>



                            <li><button class="toggle-button button-5">Kottayam</button></li>
                            <ul class="toggle-5">
                                <li><a href="~/Directory/BarAssociation/5"><strong>Kottayam</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/22">Changanacherry </a></li>
                                <li><a href="~/Directory/BarAssociation/28">Ettumanoor</a></li>
                                <li><a href="~/Directory/BarAssociation/33">Ponkunnam </a></li>
                                <li><a href="~/Directory/BarAssociation/48">Pala </a></li>
                                <li><a href="~/Directory/BarAssociation/63"><strong>Vaikom </strong></a></li>
                                <li><a href="~/Directory/BarAssociation/73"><strong>Erattupetta</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/34"><strong>Kanjirappally</strong> </a></li>

                            </ul>


                            <li><button class="toggle-button button-6">Idukki</button></li>
                            <ul class="toggle-6">
                                <li><a href="~/Directory/BarAssociation/75">Idukki </a></li>
                                <li><a href="~/Directory/BarAssociation/27">Devikulam </a></li>
                                <li><a href="~/Directory/BarAssociation/44">Nedumkandam</a></li>
                                <li><a href="~/Directory/BarAssociation/53">Peerumedu </a></li>
                                <li><a href="~/Directory/BarAssociation/62">Thodupuzha</a></li>
                                <li><a href="~/Directory/BarAssociation/70">Adimaly</a></li>
                                <li><a href="~/Directory/BarAssociation/80">Kattappana</a></li>
                            </ul>




                            <li><button class="toggle-button button-7">Ernakulam</button></li>
                            <ul class="toggle-7">
                                <li><a href="~/Directory/BarAssociation/3">Kerala High Court Advocates Assn.</a></li>
                                <li><a href="~/Directory/BarAssociation/4">Ernakulam Dist.Court</a></li>
                                <li><a href="~/Directory/BarAssociation/8">Muvattupuzha </a></li>
                                <li><a href="~/Directory/BarAssociation/9">Parur Dist.Court</a></li>
                                <li><a href="~/Directory/BarAssociation/17">Alwaye</a></li>
                                <li><a href="~/Directory/BarAssociation/26">Cochin</a></li>
                                <li><a href="~/Directory/BarAssociation/56">Perumbavoor</a></li>
                                <li><a href="~/Directory/BarAssociation/71">Kolencherry</a></li>
                                <li><a href="~/Directory/BarAssociation/84">Kothamangalam</a></li>
                                <li><a href="~/Directory/BarAssociation/79">S.Pravoor </a></li>

                            </ul>



                            <li><button class="toggle-button button-8">Thrissur</button></li>
                            <ul class="toggle-8">
                                <li><a href="~/Directory/BarAssociation/13">Thrissur</a></li>
                                <li><a href="~/Directory/BarAssociation/25">Chalakudy</a></li>
                                <li><a href="~/Directory/BarAssociation/21">Chavakkad</a></li>
                                <li><a href="~/Directory/BarAssociation/31">Irinjalakuda</a></li>
                                <li><a href="~/Directory/BarAssociation/37">Kodungallur</a></li>
                                <li><a href="~/Directory/BarAssociation/39">Kunnamkulam</a></li>
                                <li><a href="~/Directory/BarAssociation/66">Wadakkancherry</a></li>

                            </ul>




                            <li><button class="toggle-button button-9">Palakkad</button></li>
                            <ul class="toggle-9">
                                <li><a href="~/Directory/BarAssociation/10">Palakkad</a></li>
                                <li><a href="~/Directory/BarAssociation/16">Alathur </a></li>
                                <li><a href="~/Directory/BarAssociation/24">Chittur</a></li>
                                <li><a href="~/Directory/BarAssociation/40">Mannarkkat</a></li>
                                <li><a href="~/Directory/BarAssociation/46">Ottappalam</a></li>
                                <li><a href="~/Directory/BarAssociation/50">Pattambi</a></li>

                            </ul>



                            <li><button class="toggle-button button-10">Malappuram</button></li>
                            <ul class="toggle-10">
                                <li><a href="~/Directory/BarAssociation/82">Malappuram</a></li>
                                <li><a href="~/Directory/BarAssociation/6">Manjeri</a></li>
                                <li><a href="~/Directory/BarAssociation/47">Parappanangadi </a></li>
                                <li><a href="~/Directory/BarAssociation/55">Perinthalmanna </a></li>
                                <li><a href="~/Directory/BarAssociation/57">Ponnani </a></li>
                                <li><a href="~/Directory/BarAssociation/64">Tirur </a></li>
                                <li><a href="~/Directory/BarAssociation/88">Nilambur </a></li>
                                <li><a href="~/Directory/BarAssociation/86">Kanhangad</a></li>
                            </ul>





                            <li><button class="toggle-button button-11">Kozikode</button></li>
                            <ul class="toggle-11">
                                <li><a href="~/Directory/BarAssociation/2"><strong>Calicut</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/19"><strong>Vadakara</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/42"><strong>Nadapuram</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/52">Payyoli </a></li>
                                <li><a href="~/Directory/BarAssociation/54">Perambra </a></li>
                                <li><a href="~/Directory/BarAssociation/67"><strong>Quilandy</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/69"><strong>Thamarasserry</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/78">Kunnamangalam </a></li>
                            </ul>



                            <li><button class="toggle-button button-12">Wayanad</button></li>
                            <ul class="toggle-12">
                                <li><a href="~/Directory/BarAssociation/74">Sulatan Bathery</a></li>
                                <li><a href="~/Directory/BarAssociation/41">Mannanthody </a></li>
                                <li><a href="~/Directory/BarAssociation/32">Kalpetta</a></li>
                            </ul>


                            <li><button class="toggle-button button-13">Kannur</button></li>
                            <ul class="toggle-13">
                                <li><a href="~/Directory/BarAssociation/20">Kannur</a></li>
                                <li><a href="~/Directory/BarAssociation/12">Thalasserry</a></li>
                                <li><a href="~/Directory/BarAssociation/51">Payyannur</a></li>
                                <li><a href="~/Directory/BarAssociation/60">Taliparamba</a></li>
                                <li><a href="~/Directory/BarAssociation/68">Kuthuparamba</a></li>
                                <li><a href="~/Directory/BarAssociation/83">Mattannur</a></li>
                                <li><a href="~/Directory/BarAssociation/87">Mahe</a></li>
                            </ul>



                            <li><button class="toggle-button button-14">Kazargod</button></li>
                            <ul class="toggle-14">
                                <li><a href="~/Directory/BarAssociation/35">Kasaragod </a></li>
                                <li><a href="~/Directory/BarAssociation/30">Hosdurg </a></li>
                            </ul>


                        </ul>
                    </div>
                    <!--end wrapper row-->



                </div>
                <!-- end Distric Menu -->
                <!--end col md 3-->

                <div class="side-toggle">
                    <!--start side toggle-->
                <!-- start District Menu-->
                    <div class="wrapper-row list-items bg-fff visible-sm visible-xs toggle-sm">
                        <ul>
                            <li><a href="~/Directory/BarAssociation/">ALL BAR ASSOCIATIONS</a></li>
                            <li><button class="toggle-button button-1">Thiruvananthapuram</button></li>
                            <ul class="toggle-1">
                                <li>
                                    <a href="~/Directory/BarAssociation/14">Trivandrum</a>
                                </li>
                                <li><a href="~/Directory/BarAssociation/18">Attingal</a></li>
                                <li><a href="~/Directory/BarAssociation/43">Nedumangad</a></li>
                                <li><a href="~/Directory/BarAssociation/65">Varkala</a></li>
                                <li><a href="~/Directory/BarAssociation/45">Neyyattinkara </a></li>
                                <li><a href="~/Directory/BarAssociation/76">Kattakkada</a></li>
                            </ul>



                            <li><button class="toggle-button button-2">Kollam</button></li>
                            <ul class="toggle-2">
                                <li><a href="~/Directory/BarAssociation/11">Kollam</a></li>
                                <li><a href="~/Directory/BarAssociation/81">Karunagappally</a></li>
                                <li><a href="~/Directory/BarAssociation/38">Kottarakkara</a></li>
                                <li><a href="~/Directory/BarAssociation/58">Punalur</a></li>
                                <li><a href="~/Directory/BarAssociation/77">Sasthamcotta</a></li>
                            </ul>



                            <li><button class="toggle-button button-3">Pathanamthitta</button></li>
                            <ul class="toggle-3">
                                <li><a href="~/Directory/BarAssociation/49">Pathanamthitta</a></li>
                                <li><a href="~/Directory/BarAssociation/61">Thiruvalla</a></li>
                                <li><a href="~/Directory/BarAssociation/72">Ranni</a></li>
                                <li><a href="~/Directory/BarAssociation/15">Adoor </a></li>
                            </ul>


                            <li><button class="toggle-button button-4">Alappuzha</button></li>
                            <ul class="toggle-4">
                                <li><a href="~/Directory/BarAssociation/85">Alleppey</a></li>
                                <li><a href="~/Directory/BarAssociation/7">Mavelikkara</a></li>
                                <li><a href="~/Directory/BarAssociation/23">Chengannur</a></li>
                                <li><a href="~/Directory/BarAssociation/29">Harippad</a></li>
                                <li><a href="~/Directory/BarAssociation/36">Kayamkulam</a></li>
                                <li><a href="~/Directory/BarAssociation/59">Cherthala</a></li>
                            </ul>



                            <li><button class="toggle-button button-5">Kottayam</button></li>
                            <ul class="toggle-5">
                                <li><a href="~/Directory/BarAssociation/5"><strong>Kottayam</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/22">Changanacherry </a></li>
                                <li><a href="~/Directory/BarAssociation/28">Ettumanoor</a></li>
                                <li><a href="~/Directory/BarAssociation/33">Ponkunnam </a></li>
                                <li><a href="~/Directory/BarAssociation/48">Pala </a></li>
                                <li><a href="~/Directory/BarAssociation/63"><strong>Vaikom </strong></a></li>
                                <li><a href="~/Directory/BarAssociation/73"><strong>Erattupetta</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/34"><strong>Kanjirappally</strong> </a></li>

                            </ul>


                            <li><button class="toggle-button button-6">Idukki</button></li>
                            <ul class="toggle-6">
                                <li><a href="~/Directory/BarAssociation/75">Idukki </a></li>
                                <li><a href="~/Directory/BarAssociation/27">Devikulam </a></li>
                                <li><a href="~/Directory/BarAssociation/44">Nedumkandam</a></li>
                                <li><a href="~/Directory/BarAssociation/53">Peerumedu </a></li>
                                <li><a href="~/Directory/BarAssociation/62">Thodupuzha</a></li>
                                <li><a href="~/Directory/BarAssociation/70">Adimaly</a></li>
                                <li><a href="~/Directory/BarAssociation/80">Kattappana</a></li>
                            </ul>




                            <li><button class="toggle-button button-7">Ernakulam</button></li>
                            <ul class="toggle-7">
                                <li><a href="~/Directory/BarAssociation/3">Kerala High Court Advocates Assn.</a></li>
                                <li><a href="~/Directory/BarAssociation/4">Ernakulam Dist.Court</a></li>
                                <li><a href="~/Directory/BarAssociation/8">Muvattupuzha </a></li>
                                <li><a href="~/Directory/BarAssociation/9">Parur Dist.Court</a></li>
                                <li><a href="~/Directory/BarAssociation/17">Alwaye</a></li>
                                <li><a href="~/Directory/BarAssociation/26">Cochin</a></li>
                                <li><a href="~/Directory/BarAssociation/56">Perumbavoor</a></li>
                                <li><a href="~/Directory/BarAssociation/71">Kolencherry</a></li>
                                <li><a href="~/Directory/BarAssociation/84">Kothamangalam</a></li>
                                <li><a href="~/Directory/BarAssociation/79">S.Pravoor </a></li>

                            </ul>



                            <li><button class="toggle-button button-8">Thrissur</button></li>
                            <ul class="toggle-8">
                                <li><a href="~/Directory/BarAssociation/13">Thrissur</a></li>
                                <li><a href="~/Directory/BarAssociation/25">Chalakudy</a></li>
                                <li><a href="~/Directory/BarAssociation/21">Chavakkad</a></li>
                                <li><a href="~/Directory/BarAssociation/31">Irinjalakuda</a></li>
                                <li><a href="~/Directory/BarAssociation/37">Kodungallur</a></li>
                                <li><a href="~/Directory/BarAssociation/39">Kunnamkulam</a></li>
                                <li><a href="~/Directory/BarAssociation/66">Wadakkancherry</a></li>

                            </ul>




                            <li><button class="toggle-button button-9">Palakkad</button></li>
                            <ul class="toggle-9">
                                <li><a href="~/Directory/BarAssociation/10">Palakkad</a></li>
                                <li><a href="~/Directory/BarAssociation/16">Alathur </a></li>
                                <li><a href="~/Directory/BarAssociation/24">Chittur</a></li>
                                <li><a href="~/Directory/BarAssociation/40">Mannarkkat</a></li>
                                <li><a href="~/Directory/BarAssociation/46">Ottappalam</a></li>
                                <li><a href="~/Directory/BarAssociation/50">Pattambi</a></li>

                            </ul>



                            <li><button class="toggle-button button-10">Malappuram</button></li>
                            <ul class="toggle-10">
                                <li><a href="~/Directory/BarAssociation/82">Malappuram</a></li>
                                <li><a href="~/Directory/BarAssociation/6">Manjeri</a></li>
                                <li><a href="~/Directory/BarAssociation/47">Parappanangadi </a></li>
                                <li><a href="~/Directory/BarAssociation/55">Perinthalmanna </a></li>
                                <li><a href="~/Directory/BarAssociation/57">Ponnani </a></li>
                                <li><a href="~/Directory/BarAssociation/64">Tirur </a></li>
                                <li><a href="~/Directory/BarAssociation/88">Nilambur </a></li>
                                <li><a href="~/Directory/BarAssociation/86">Kanhangad</a></li>
                            </ul>





                            <li><button class="toggle-button button-11">Kozikode</button></li>
                            <ul class="toggle-11">
                                <li><a href="~/Directory/BarAssociation/11"><strong>Calicut</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/19"><strong>Vadakara</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/42"><strong>Nadapuram</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/52">Payyoli </a></li>
                                <li><a href="~/Directory/BarAssociation/54">Perambra </a></li>
                                <li><a href="~/Directory/BarAssociation/67"><strong>Quilandy</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/69"><strong>Thamarasserry</strong> </a></li>
                                <li><a href="~/Directory/BarAssociation/78">Kunnamangalam </a></li>
                            </ul>



                            <li><button class="toggle-button button-12">Wayanad</button></li>
                            <ul class="toggle-12">
                                <li><a href="~/Directory/BarAssociation/74">Sulatan Bathery</a></li>
                                <li><a href="~/Directory/BarAssociation/41">Mannanthody </a></li>
                                <li><a href="~/Directory/BarAssociation/32">Kalpetta</a></li>
                            </ul>


                            <li><button class="toggle-button button-13">Kannur</button></li>
                            <ul class="toggle-13">
                                <li><a href="~/Directory/BarAssociation/20">Kannur</a></li>
                                <li><a href="~/Directory/BarAssociation/12">Thalasserry</a></li>
                                <li><a href="~/Directory/BarAssociation/51">Payyannur</a></li>
                                <li><a href="~/Directory/BarAssociation/60">Taliparamba</a></li>
                                <li><a href="~/Directory/BarAssociation/68">Kuthuparamba</a></li>
                                <li><a href="~/Directory/BarAssociation/83">Mattannur</a></li>
                                <li><a href="~/Directory/BarAssociation/87">Mahe</a></li>
                            </ul>



                            <li><button class="toggle-button button-14">Kazargod</button></li>
                            <ul class="toggle-14">
                                <li><a href="~/Directory/BarAssociation/35">Kasaragod </a></li>
                                <li><a href="~/Directory/BarAssociation/30">Hosdurg </a></li>
                            </ul>


                        </ul>
                    </div>
                <!-- end District Menu -->

                    <button class="side-toggle-button side-1">&raquo;</button>
                    <button class="side-toggle-button side-2">&laquo;</button>
                </div><!--end side toggle-->
                <!--start col md 9-->
                <div class="col-md-9">
                    <!--start wrapper row-->
                    <div class="wrapper-row padding-top-20px">

                        <!-- Template -->
                        @RenderBody()
                        <!-- End Template -->
                    </div>
                    <!--end wrapper row-->
                </div>
                <!--end col md 9-->
            </div>
            <!--end wrapper row-->
            
        </div>
    </div>

</div>
