﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Advocates of Kerala</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/meedia-css/media.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/style-sheet/style-sheet.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/slider-css/slider.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/hover-style/hover.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!--start header-->
    <header class="wrapper-row header-bg">
        <!--start nav-->
        <nav id="mainNav" class="navbar navbar-default affix-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo hvr-wobble-to-bottom-right" href="index.html">Advocates of Kerala</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right font-em">
                        <li>
                            <a href="index.html" class="hvr-underline-from-left">home</a>
                        </li>
                        <li>
                            <a href="advocates.html" class="hvr-underline-from-left">Advocate's Directory </a>
                        </li>
                        <li>
                            <a href="law-firm.html" class="hvr-underline-from-left">Law Firms</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!--end nav-->
    </header>
    <!--end header-->
    @*<!--start section 1-->
    <!--end section 1-->
    <!--start section 2-->
    <section class="wrapper-row low-firm">
        <!--start containier-->
        <div class="container">

            <!--start wrapper row 1-->
            <div class="wrapper-row">

                <!--start col  md 4 1-->
                <div class="col-md-4 col-sm-4 hvr-wobble-vertical">
                    <!--start wrapper row-->
                    <div class="wrapper-row color-fff list-display">
                        <!--<img src="images/icons/icon-1.png">-->
                        <h3>The Law Desk</h3>
                        <ul>
                            <li>
                                <p>
                                    Aviation, Banking & Finance, Defence, Food & Drugs, Information Technology, Mining, Manufacturing, Taxation, Railways, Retails, Telecom, Hospitals, Trade & Customs
                                </p>
                            </li>
                        </ul>


                        <span class="padding-top-20px">
                            <a href="all-firm.html" class="read-more">Read more</a>
                        </span>
                    </div>
                    <!--end wrapper row-->
                </div>
                <!--end col md 4 1-->
                <!--start col md 4 2-->
                <div class="col-md-4 col-sm-4 hvr-wobble-vertical">
                    <!--start wrapper row-->
                    <div class="wrapper-row color-fff list-display">
                        <!--<img src="images/icons/icon-2.png">-->
                        <h3>Badsha & Co</h3>
                        <ul>
                            <br>
                            <li>
                                <p>
                                    Intellectual Property Laws imageProperty Laws, imageLabour Laws, imageCommercial Laws
                                </p>
                            </li>
                        </ul>
                        <span class="padding-top-20px">
                            <a href="#" class="read-more">Read more</a>
                        </span>
                    </div>
                    <!--end wrapper row-->
                </div>
                <!--end col md 4 2-->
                <!--start col md 4 3-->
                <div class="col-md-4 col-sm-4 hvr-wobble-vertical">
                    <!--start wrapper row-->
                    <div class="wrapper-row color-fff list-display">
                        <!--<img src="images/icons/icon-3.png">-->
                        <h3>Kerala Corporate Law House</h3>
                        <ul>
                            <li>
                                <p>
                                    Motor Accident Claims, Matters, Criminal Cases, Matrimonial Cases, Cases Of Labour Court, Cases Of Negotiable Instrument Act, Electricity Cases
                                </p>
                            </li>
                        </ul>
                        <span class="padding-top-20px">
                            <a href="#" class="read-more">Read more</a>
                        </span>
                    </div>
                    <!--end wrapper row-->
                </div>
                <!--end col md 4 3-->

            </div>
            <!--end wrapper row 1-->
            <!--start wrapper row 2-->
            <div class="wrapper-row">

                <!--start col md 4 4-->
                <div class="col-md-4 col-sm-4 hvr-wobble-vertical">
                    <!--start wrapper row-->
                    <div class="wrapper-row color-fff list-display">
                        <!--<img src="images/icons/icon-3.png">-->
                        <h3>Law Desk</h3>
                        <ul>
                            <li>
                                <p>
                                    Aviation, Banking & Finance, Defence, Food & Drugs, Information Technology, Mining, Manufacturing, Taxation, Railways, Retails, Telecom, Hospitals, Trade & Customs
                                </p>
                            </li>
                        </ul>
                        <span class="padding-top-20px">
                            <a href="#" class="read-more">Read more</a>
                        </span>
                    </div>
                    <!--end wrapper row-->
                </div>
                <!--end col md 4 4-->
                <!--start col md 4 5-->
                <div class="col-md-4 col-sm-4 hvr-wobble-vertical">
                    <!--start wrapper row-->
                    <div class="wrapper-row color-fff list-display">
                        <!--<img src="images/icons/icon-3.png">-->
                        <h3>Lexus Partners</h3>
                        <ul>
                            <li>
                                <p>
                                    Aviation, Banking & Finance, Defence, Food & Drugs, Information Technology, Mining, Manufacturing, Taxation, Railways, Retails, Telecom, Hospitals, Trade & Customs
                                </p>
                            </li>
                        </ul>
                        <span class="padding-top-20px">
                            <a href="#" class="read-more">Read more</a>
                        </span>
                    </div>
                    <!--end wrapper row-->
                </div>
                <!--end col md 4 5-->
                <!--start col md 4 6-->
                <div class="col-md-4 col-sm-4 hvr-wobble-vertical">
                    <!--start wrapper row-->
                    <div class="wrapper-row color-fff list-display">
                        <!--<img src="images/icons/icon-3.png">-->
                        <h3>CRS ASSOCIATES</h3>
                        <ul>
                            <li>
                                <p>
                                    Aviation, Banking & Finance, Defence, Food & Drugs, Information Technology, Mining, Manufacturing, Taxation, Railways, Retails, Telecom, Hospitals, Trade & Customs
                                </p>
                            </li>
                        </ul>
                        <span class="padding-top-20px">
                            <a href="#" class="read-more">Read more</a>
                        </span>
                    </div>
                    <!--end wrapper row-->
                </div>
                <!--end col md 4 6-->

            </div>
            <!--end wrapper row 2-->

        </div>
        <!--end container-->
    </section>
    <!--end section 2-->*@
    @RenderBody()
    <!--start footer-->
    <footer class="footer-pannel padding-top-three">
        <!--start container-->
        <div class="container">
            <!--start col md 3 -->
            <div class="col-md-3 col-sm-3">
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <h3 class="font-size-22 wight">Important Links</h3>
                    <!--start footer links-->
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">Highcourtlawyers.com</a></li>
                            <li><a href="#">highcourtdirectory.com</a></li>
                            <li><a href="#">ernakulambarassociation.com</a></li>
                            <li><a href="#">ernakulamlawyers.com</a></li>
                        </ul>
                    </div>
                    <!--end footer links-->
                </div>
                <!--end wrapper row-->
            </div>
            <!--end col md 3 1-->
            <!--start col md 3 2-->
            <div class="col-md-3 col-sm-3">
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <!--start footer links-->
                    <div class="footer-links padding-top-53">
                        <ul>
                            <li><a href="#">thrissuradvocates.com</a></li>
                            <li><a href="#">ladyadvocates.com</a></li>
                            <li><a href="#">legalinformatics.in</a></li>
                        </ul>
                    </div>
                    <!--end footer links-->
                </div>
                <!--end wrapper row-->
            </div>
            <!--end col md 3 2-->
            <!--start col md 3 3-->
            <div class="col-md-3 col-sm-3">
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <!--start footer links-->
                    <div class="footer-links padding-top-53">
                        <ul>
                            <li><a href="#">highcourtofkerala.nic.in</a></li>
                            <li><a href="#">khcaa.in</a></li>
                            <li><a href="#">The Bar Council of India</a></li>
                            <li><a href="#">Kochilawyers.com</a></li>
                        </ul>
                    </div>
                    <!--end footer links-->
                </div>
                <!--end wrapper row-->
            </div>
            <!--end col md 3 3-->
            <!--start col md 3 4-->
            <div class="col-md-3">
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <h3 class="font-size-22">New entries and updates</h3>
                    <p>
                        Advocates are requested to send their updated contact information to this online directory. Bar Associations can also send new entries, corrections and updates regarding their members.
                        Email : mail@advocatesofkerala.com
                        Phone : 9446766777
                    </p>
                </div>
                <!--end wrapper row-->
            </div>
            <!--end col md 3 4-->



        </div>
        <!--end container-->
        <!--start wrapper row-->
        <div class="wrapper-row footer-wrapp">
            <!--start container-->
            <div class="container">
                <!--start col md 3-->
                <div class="col-md-3"></div>
                <!--end col md 3-->
                <!--start col md 6-->
                <div class="col-md-6">
                    <!--start wrapper row-->
                    <div class="wrapper-row">
                        <!--start bottom link-->
                        <div class="bottom-link">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#"> Advocate's Directory </a></li>
                                <li><a href="#"> Law Firms  </a></li>
                                <li><a href="#"> Terms of Use </a></li>
                                <li><a href="#"> Disclaimer </a></li>
                                <div class="btm-pf">
                                    <p>
                                        All rights are reserved for Judicial Informatics, Kochi, India.<br>
                                        Developed and maintained by <a href="#" class="pf-link">Klickevents</a>
                                    </p>
                                </div>
                            </ul>
                        </div>
                        <!--end bottom link-->
                    </div>
                    <!--end wrapper row-->
                </div>
                <!--end col md 6-->
                <!--start col md 3-->
                <div class="col-md-3"></div>
                <!--end col md 3-->

            </div>
            <!--end container-->
        </div>
        <!--end wrapper row-->
    </footer>
    <!--end footer-->
    <!--start bootstrap script-->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/toggle.js"></script>
    <script type="text/javascript" src="~/Content/js/nav-fixed.js"></script>
    <script type="text/javascript" src="~/Content/js/mScroll.js"></script>
    <script type="text/javascript" src="~/Content/js/slider-script/s3Slider.txt.js"></script>
    <script type="text/javascript" src="~/Content/js/slider-script/slider-script.js"></script>
    <script type="text/javascript" src="~/Content/js/nav-fixed.js"></script>


</body>
</html>
