﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="classification" content="Lawyer's Information, Advocate's Directory, www.advocatesofkerla.com, famil lawyer, crimainal lawyer, tax lawyer, company lawyer" />
    <meta name="description" content="Kerala High Court Advocates Directory, Kerala High Court Judges information, Address and phone numbers of legal institutions" />
    <meta name="keywords" content="Kerala advocate's Directory, Advocates Directory for Lawyers, High Court Judges, Crimainal Lawyers, Civiel Lawyers, Attorney, Legal Service, www.advocatesofkerala.com" />
    
    @*<title>Advocates of Kerala</title>*@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/meedia-css/media.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/style-sheet/style-sheet.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/hover-style/hover.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/slider-css/slider.css" rel="stylesheet" type="text/css">
    <!-- jquery auto complete -->
    @*<link href="~/Content/css/style-sheet/jquery-ui.css" rel="stylesheet" />*@
    <link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>*@

    <link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
    <!--start header-->
    <header class="wrapper-row header-bg">
        <!--start nav-->
        <nav id="mainNav" class="navbar navbar-default affix-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo hvr-wobble-to-bottom-right" href="index.html">Advocates of Kerala</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right font-em">
                        <li>
                            @Html.ActionLink("Home", "Index", "Main", null, new { @class = "hvr-underline-from-left home-menu" })
                        </li>
                        <li class="dropdown">
                            @Html.ActionLink("Advocate's Directory", "BarAssociation", "Directory", null, new { @class = "hvr-underline-from-left" })
                            <ul class="dropdown-menu" style="display: none;">
                                <li><a href="@Url.Action("BarAssociation", "Directory")">Advocate's Directory</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("MostViewed", "Directory")">Most Viewed</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("RecentlytViewed", "Directory")">Recently Viewed</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("RecenltyAdded", "Directory")">Recently Added</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("RecenltyUpdated", "Directory")">Recently Updated</a></li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("Law Firms", "LawFirms", "Firms", null, new { @class = "hvr-underline-from-left" })
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!--end nav-->


    </header>
    <!--end header-->
   
    @RenderBody()
    <!--start footer-->
    <footer class="footer-pannel padding-top-three">
        <!--start container-->
        <div class="container">
            <!--start col md 3 -->
            <div class="col-md-3 col-sm-3">
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <h3 class="font-size-22 wight">Important Links</h3>
                    <!--start footer links-->
                    <div class="footer-links">
                        <ul>
                            <li><a href="http://highcourtlawyers.com">Highcourtlawyers.com</a></li>
                            <li><a href="http://highcourtdirectory.com">highcourtdirectory.com</a></li>
                            <li><a href="http://ernakulambarassociation.com">ernakulambarassociation.com</a></li>
                            <li><a href="http://ernakulamlawyers.com">ernakulamlawyers.com</a></li>
                        </ul>
                    </div>
                    <!--end footer links-->
                </div>
                <!--end wrapper row-->
            </div>
            <!--end col md 3 1-->
            <!--start col md 3 2-->
            <div class="col-md-3 col-sm-3">
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <!--start footer links-->
                    <div class="footer-links padding-top-53">
                        <ul>
                            <li><a href="http://thrissuradvocates.com">thrissuradvocates.com</a></li>
                            <li><a href="http://ladyadvocates.com">ladyadvocates.com</a></li>
                            <li><a href="http://legalinformatics.in">legalinformatics.in</a></li>
                        </ul>
                    </div>
                    <!--end footer links-->
                </div>
                <!--end wrapper row-->
            </div>
            <!--end col md 3 2-->
            <!--start col md 3 3-->
            <div class="col-md-3 col-sm-3">
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <!--start footer links-->
                    <div class="footer-links padding-top-53">
                        <ul>
                            <li><a href="#">highcourtofkerala.nic.in</a></li>
                            <li><a href="#">khcaa.in</a></li>
                            <li><a href="#">The Bar Council of India</a></li>
                            <li><a href="#">Kochilawyers.com</a></li>
                        </ul>
                    </div>
                    <!--end footer links-->
                </div>
                <!--end wrapper row-->
            </div>
            <!--end col md 3 3-->
            <!--start col md 3 4-->
            <div class="col-md-3">
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <h3 class="font-size-22">New entries and updates</h3>
                    <p>
                        Advocates are requested to send their updated contact information to this online directory. Bar Associations can also send new entries, corrections and updates regarding their members.
                        <br />Email : mail@advocatesofkerala.com
                       <br /> Phone : 9446766111
                    </p>
                </div>
                <!--end wrapper row-->
            </div>
            <!--end col md 3 4-->



        </div>
        <!--end container-->
        <!--start wrapper row-->
        <div class="wrapper-row footer-wrapp">
            <!--start container-->
            <div class="container">
                <!--start col md 3-->
                <div class="col-md-3"></div>
                <!--end col md 3-->
                <!--start col md 6-->
                <div class="col-md-6">
                    <!--start wrapper row-->
                    <div class="wrapper-row">
                        <!--start bottom link-->
                        <div class="bottom-link" style="text-align:center">
                            <ul>
                                <li><a href="@Url.Action("Index","Main", null)">Home</a></li>
                                <li><a href="@Url.Action("LawFirms","Firms", null)"> Advocate's Directory </a></li>
                                <li><a href="#"> Terms of Use </a></li>
                                <li><a href="@Url.Action("Disclaimer","Main", null)"> Law Firms  </a></li>
                                <li><a href="@Url.Action("Disclaimer","Main", null)"> Disclaimer </a></li>
                            </ul>
                                <div class="btm-pf">
                                    <p>
                                        All rights are reserved for <a href="http://legalinformatics.in" target="_blank" class="pf-link"> Judicial Informatics</a> Kochi, India.<br>
                                        Developed and maintained by <a href="http://klickevents.in" target="_blank" class="pf-link">Klickevents</a>
                                    </p>
                                </div>
                            
                        </div>
                        <!--end bottom link-->
                    </div>
                    <!--end wrapper row-->
                </div>
                <!--end col md 6-->
                <!--start col md 3-->
                <div class="col-md-3"></div>
                <!--end col md 3-->

            </div>
            <!--end container-->
        </div>
        <!--end wrapper row-->
    </footer>
    <!--end footer-->
  


    <!--start bootstrap script-->
    @*<script type="text/javascript" src="~/Content/js/jquery.js"></script>*@
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/toggle.js"></script>
    <script type="text/javascript" src="~/Content/js/slider-script/s3Slider.txt.js"></script>
    <script type="text/javascript" src="~/Content/js/slider-script/slider-script.js"></script>
    <script type="text/javascript" src="~/Content/js/nav-fixed.js"></script>
    <script type="text/javascript" src="~/Content/js/loading/loading-script.js"></script>

    <script type="text/javascript">
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>
</body>
</html>
