#slider0 {
    width: 100%; /* important to be same as image width */
    min-height: 291px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
    z-index:1;
    background-color: rgba(0, 0, 0, 0.13);
}

#slider1, #slider2 {
    width: 600px; /* important to be same as image width */
    height: 221px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}
.slideContentBorder{/* background-color:#D1D1D1; */padding:10px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; /* future proofing */-khtml-border-radius: 5px; /* for old Konqueror browsers *//* border:solid #fff 5px; */height: 290px;}

#slider0Content, #slider1Content, #slider2Content {
    width: 100%;
    position: absolute;
    top: 0;
    margin-left: 0;
    color: #fff;
}
.slider0Image, .slider1Image, .slider2Image {
    float: left;
    position: relative;
	display: none;
	
}
.slider0Image h2{font-size:300%; font-weight:bold;}

.slider0Image span {
    position: absolute;
    display:block;
    font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 100%;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    display: none;
    margin-left: 4%;
    top:0px;
}


.listStyle {list-style-type:none; }

.slider1Image span, .slider2Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 450px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #000;
    font-size:120%;
    display: none;
}
.clear {
	clear: both;
}
.slider0Image span strong, .slider1Image span strong, .slider2Image span strong {
    font-size: 14px;
    color: #fff;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
	left: 0;
}
.left {
	top: 0;
	left: 0;
	width: 110px !important;
	height: 251px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 256px;
}
.offset {
	left: 30px;
}
.offsetRight {
	right: 40px;
}
.slideContentBorder td{ width:128px;}