
@media (min-width: 320px) and (max-width: 1024px){
	.photo-list p{font-size: 9px !important;}
	.pagenation{height:auto !important;
	}
	}
@media (min-width: 320px) and (max-width: 425px){
	.text-filed-two{width: 71% !important;}
	.title-3 h3{ margin-top:20px !important;}
	}