﻿@model IEnumerable<Advocatesofkerala_mvc.Models.AdvocateBarVM>

@{
    ViewBag.Title = "AdvBarList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdvBarList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdvocateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.BarAssociation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvocateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.BarAssociation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvocateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvocateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvocateID })
        </td>
    </tr>
}

</table>
