﻿@model IEnumerable<Advocatesofkerala_mvc.Models.law_advocates>
@{
    ViewBag.Title = "AdvocatesDirectory";
    Layout = "~/Views/Shared/_Directory.cshtml";
}

<div class="text-center title-four">
    <h4>Randomly displayed from all Bar Associations</h4>
</div>
<!--start wapper row 1 -->
<div class="wrapper-row padding-top-10px">
    <!--start col md 2-->
    <div class="col-md-2"></div>
    <!--end col md 2-->
    <!--start col md 8-->
    <div class="col-md-8 over-flow">
        <form class="row padding-bottom-two">
            <input name="" type="text" placeholder="Type Member Name" class="text-filed-two">
            <button class="button-search">Search</button>
        </form>

        <!--start wrapper row-->
        <div class="row pagenation">
            <ul>
                <li><a href="#">a</a></li>
                <li><a href="#">b</a></li>
                <li><a href="#">c</a></li>
                <li><a href="#">d</a></li>
                <li><a href="#">e</a></li>
                <li><a href="#">f</a></li>
                <li><a href="#">g</a></li>
                <li><a href="#">h</a></li>
                <li><a href="#">i</a></li>
                <li><a href="#">j</a></li>
                <li><a href="#">k</a></li>
                <li><a href="#">l</a></li>
                <li><a href="#">m</a></li>
                <li><a href="#">n</a></li>
                <li><a href="#">o</a></li>
                <li><a href="#">p</a></li>
                <li><a href="#">q</a></li>
                <li><a href="#">r</a></li>
                <li><a href="#">s</a></li>
                <li><a href="#">t</a></li>
                <li><a href="#">u</a></li>
                <li><a href="#">v</a></li>
                <li><a href="#">w</a></li>
                <li><a href="#">x</a></li>
                <li><a href="#">y</a></li>
                <li><a href="#">z</a></li>
            </ul>
        </div>
        <!--end wrapper row-->
    </div>
    <!--end col md 8-->
    <!--start col md 2-->
    <div class="col-md-2"></div>
    <!--end col md 2-->


</div>
<!--end wrapper row 1-->
<!--start wrapper row-->
<div class="wrapper-row padding-top-20px">
    <!--start col md 3-->
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3 photo-list hvr-bounce-in advocate_list_item">
            <ul>
                <li><a href="@Url.Action("AdvocateProfile", "Directory",  new {id=@item.AdvocateID })"><img src="http://advocatesofkerala.com/MemPhoto/@item.ImageID" class="photo-responsive"></a></li>
                <li>
                    <h4>@item.FullName</h4>
                    <h4><span class="color-red">Mob:</span> @item.Mobile</h4>
                    @*<p>
                        [ Pathanamthitta Bar Association ]
                    </p>*@
                </li>
            </ul>
        </div>
    }
</div>
<!--end wrapper row-->

