﻿@model Advocatesofkerala_mvc.Models.law_advocates
@{
    Layout = "~/Views/Shared/_Directory.cshtml";
}
<title>Advocate @Model.FullName | Mobile : @Model.Mobile | Email : @Model.EmailID| Bar Association : @Model.BarAssociations.BarAssociation | Kerala  Advocate's Online Directory  </title>
  

<div class="breadcrumb">
    @Html.MvcSiteMap().SiteMapPath()
</div>
<div class="text-center title-four">
    <h4><a href="@Url.Action("BarAssociation", "Directory", new {id=@Model.BarAssociationID})">@ViewBag.Barinfo</a></h4>
</div>
<div class="col-md-9">
    <!--start wrapper row-->
   
    <div class="wrapper-row padding-top-20px">

 <!--start cl md 2-->
    <div class="col-md-4 col-sm-4 ">
        <div class="wrapper-row">
            <img src="http://advocatesofkerala.com/MemPhoto/@Model.ImageID" class="img-responsive">
            <div class="clearfix"></div>
                <!-- google+ code -->
                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-annotation="inline" data-size="small"
                     data-width="200">
                </div>
                <!-- Place this tag after the last +1 button tag. -->
                <script type="text/javascript">
                                            (function () {
                                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                                po.src = 'https://apis.google.com/js/plusone.js';
                                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                            })();
                </script>
                <!-- end of google+ code -->
                <!-- facebook LIKE button code -->
                <div class="fb-like" data-href="http://advocatesofkerala.com"
                     data-layout="button_count" data-send="false" data-show-faces="true"
                     data-width="250">
                </div>
                <!-- end of facebook LIKE button code -->
            
        </div>
        
    </div>
        <!--end col md 2-->
        <!--start col md 10-->
        <div class="col-md-8 col-sm-8">
            <!--start wrapper row-->
            <div class="wrapper-row title-3 data-list">
                
                <ul>
                    <li>
                        <h2>@Model.FullName </h2>
                        <p>
                            ENROLL : @Model.EnrolmentNo <br>
                            Mobile : @Model.Mobile , @Model.Mobile2<br>
                            Email : @Model.EmailID 
                        </p>
                    </li>

                    <li>
                        <h4>Office</h4>
                        <p>
                            @Model.OffAddress<br />
                            Pin : @Model.OffPin <br>
                            Phone : @Model.OffPhone<br />
                            District : @Model.OffDistrict
                        </p>
                    </li>


                    <li>
                        <h4>Residence</h4>
                        <p>
                            @Model.ResAddress<br />
                            Pin : @Model.ResPin <br>
                            Phone : @Model.ResPhone<br />
                            District : @Model.ResDistrict
                        </p>
                    </li>
                </ul>
            </div>
            <!--end wrapper row-->
        </div>
        <!--end col md 10-->

       
    </div>
    <!--end wrapper row-->
    
</div>
