﻿@model PagedList.IPagedList<Advocatesofkerala_mvc.Models.law_advocates>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Directory.cshtml";
}
<title>Advocates of Kerala | @ViewBag.Title</title>
<h4 class="breadcrumb">
    @Html.MvcSiteMap().SiteMapPath()
</h4>
<div class="text-center title-four">
    <h4>Advocates Online Directory</h4>
    <p>
        All Bar Associations are randomnly displayed at each time.
        Bar Associations can be chosen from the side menu which are organized District wise.
        Advocates are enlisted to the corresponding Bar Association.
    </p>
</div>
<!--start wapper row 1 -->
@using (Html.BeginForm("BarAssociation", "Directory", FormMethod.Get))
{
    @Html.AntiForgeryToken()
<div class="wrapper-row padding-top-10px">
    <!--start col md 2-->
    <div class="col-md-2"></div>
    <!--end col md 2-->
    <!--start col md 8-->
    <div class="col-md-8 over-flow">

        <p>
            @Html.TextBox("SearchString", "", new { id = "txtSearch", data_val = "true", data_val_required = "Name is required", @class = "btn-group text-filed-two" })
            <input type="submit" value="Search" id="find" class="button-search" />  <br />
            @Html.ValidationMessage("SearchString")

      
        </p>
        <div class="clear"></div>
        <div style="text-align:center">
            <div class="radio-inline">
                @Html.RadioButton("gender", "M", false, new { onchange = "this.form.submit()" }) Male
            </div>
            <div class="radio-inline">
                @Html.RadioButton("gender", "F", false, new { onchange = "this.form.submit()" }) Female
            </div>
            <div class="radio-inline">
                @Html.RadioButton("gender", "", true, new { onchange = "this.form.submit()" }) All
            </div>
        </div>
        <!--start wrapper row-->
        <div class="row pagenation">

            <ul>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="A"})">a</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="B"})">b</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="C"})">c</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="D"})">d</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="E"})">e</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="F"})">f</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="G"})">g</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="H"})">h</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="I"})">i</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="J"})">j</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="K"})">k</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="L"})">l</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="M"})">m</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="N"})">n</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="O"})">o</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="P"})">p</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="Q"})">q</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="R"})">r</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="S"})">s</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="T"})">t</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="U"})">u</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="V"})">v</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="W"})">w</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="X"})">x</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="Y"})">y</a></li>
                <li><a href="@Url.Action("BarAssociation", "Directory", new { SearchString="Z"})">z</a></li>
            </ul>
        </div>
        <!--end wrapper row-->
    </div>
    <!--end col md 8-->
    <!--start col md 2-->
    <div class="col-md-2"></div>
    <!--end col md 2-->
    <div class="clearfix"></div>
    <div>
        <h5 class="bg-info" style="text-align:center">@Html.Raw(ViewBag.Barinfo)</h5>
    </div>

</div>
<!--end wrapper row 1-->
<!--start wrapper row-->
<div class="wrapper-row">
    <!--start col md 3-->
@if (Model != null || Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3 photo-list hvr-bounce-in advocate_list_item">
            <ul>
                <li><a href="@Url.Action("AdvocateProfile", "Directory", new { id = @item.AdvocateID })"><img src="http://advocatesofkerala.com/MemPhoto/@item.ImageID" class="photo-responsive"></a></li>
                <li>
                    <h4>@item.FullName</h4>
                    <h4><span class="color-red">Mob:</span> @item.Mobile</h4>
                    @*<p>
                            [ Pathanamthitta Bar Association ]
                        </p>*@
                </li>
            </ul>
        </div>
    }
}
else
{
    <div class="col-md-2 col-sm-3 col-xs-6" style="font-size:70%; height:180px; text-align:center">
        @Html.Label("No record found")
    </div>
}

</div>
<!--end wrapper row-->
}
<div class="clear"></div>
<p>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("BarAssociation", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</p>