﻿@model IEnumerable<Advocatesofkerala_mvc.Models.law_advocates>
@{
    Layout = "~/Views/Shared/_Directory.cshtml";
}
<title>Advocates of Kerala | Most Viewed Advocates | www.advocatesofkerala.com</title>
<div class="breadcrumb">
    @Html.MvcSiteMap().SiteMapPath()
</div>
<div class="text-center title-four">
    <h4>Mostt Viewed</h4>
</div>
<!--start wrapper row-->
<div class="wrapper-row padding-top-20px">
    <!--start col md 3-->
    @if (Model != null || Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-3 photo-list hvr-bounce-in advocate_list_item">
                <ul>
                    <li><a href="@Url.Action("AdvocateProfile", "Directory", new { id = @item.AdvocateID })"><img src="http://advocatesofkerala.com/MemPhoto/@item.ImageID" class="photo-responsive"></a></li>
                    <li>
                        <h4>@item.FullName</h4>
                        <h4><span class="color-red">Mob:</span> @item.Mobile</h4>
                        <h5>Viewed : @item.ClickCount</h5>
                        @*<p>
                                [ Pathanamthitta Bar Association ]
                            </p>*@
                    </li>
                </ul>
            </div>
        }
    }
    else
    {
        <div class="col-md-2 col-sm-3 col-xs-6" style="font-size:70%; height:180px; text-align:center">
            @Html.Label("No record found")
        </div>
    }

</div>
<!--end wrapper row-->
