﻿@model Advocatesofkerala_mvc.Models.law_advocates

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>law_advocates</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BarAssociations.BarAssociation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarAssociations.BarAssociation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembershipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrolmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrolmentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrolmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrolmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffPin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffPin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResPin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResPin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkedinID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedinID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaOfPractice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfPractice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specilization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specilization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherAssociation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherAssociation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignatedSeniors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignatedSeniors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deceased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deceased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClickCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClickCount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
