﻿@model IEnumerable<Advocatesofkerala_mvc.Models.law_advocates>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BarAssociations.BarAssociation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.EnrolmentNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
      

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BarAssociations.BarAssociation)
        </td>
        <td>
           <img src="http://advocatesofkerala.com/MemPhoto/@item.ImageID" height="80" />
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrolmentNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvocateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvocateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvocateID })
        </td>
    </tr>
}

</table>
