﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/meedia-css/media.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/style-sheet/style-sheet.css" rel="stylesheet" type="text/css">

    <!-- jquery auto complete -->
    <link href="~/Content/css/style-sheet/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
</head>
<body>
    <header class="wrapper-row header-bg">
        <!--start search cover-->
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <<br /><br /><br />
            <div class="search_cover">
                <script type="text/javascript">
                    $(function () {
                        $("#txtSearch").autocomplete({
                            source: '@Url.Action("GetAdvocates")',
                            minLength: 2
                        });
                    });
                </script>
                @using (Html.BeginForm("Index", "Home", null, FormMethod.Post, null))
            {
                    @Html.AntiForgeryToken()

                    @Html.TextBox("searchTerm", "", new { id = "txtSearch", data_val = "true", data_val_required = "Name is required", @class = "search-box-pannel" })
                    <button class="search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <br />
                    @Html.ValidationMessage("searchTerm")
                }
                <div class="clear"></div>
                <span style="color:gold; font-size:150%"> @ViewBag.Searchresult</span>
            </div>
            <<br /><br /><br />
        </div>
        <div class="col-md-3"></div>
</header>
        <!--end ssearch cover-->

    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/toggle.js"></script>
    <script type="text/javascript" src="~/Content/js/slider-script/s3Slider.txt.js"></script>
    <script type="text/javascript" src="~/Content/js/slider-script/slider-script.js"></script>
    <script type="text/javascript" src="~/Content/js/nav-fixed.js"></script>

    <script type="text/javascript" src="~/Content/js/loading/loading-script.js"></script>
    <script type="text/javascript">
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>

</body>
</html>
