﻿
@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Advocates of Kerala | Disclaimer | www.advocatesofkerala.com</title>
<div class="breadcrumb">
    @Html.MvcSiteMap().SiteMapPath()
</div>
<div class="wrapper-row padding-top-20px">
    
    <h2>Disclaimer</h2>
    <br /><br />

        <p>
            Advocatesofkerala.com is personal website acts as an Online Directory which publishes advocate’s information for public good. The directory is simply a list of professionals, and no recommendations or guarantees are made regarding the quality of service you might expect from any of the professionals listed and the list is being done without collecting any payment from them.  The purpose of this online directory is to help general public to find out advocates through internet.
        </p>

        <p>
            The source of all information about advocates included in this directory is the printed directories which are published by the corresponding Bar Associations at various time and hence the authenticity and accuracy of the information are limited and cannot be guaranteed.
        </p>

        <p>
            We do not verify the personal data of anyone listed, and we know nothing of their professional background, other than what they have copied from printed directories of corresponding Bar Associations. The address, phone numbers, email Ids might have been changed or incorrectly displayed by mistake.
        </p>
        <p>
            Therefore, we request that you please use this online directories as a reference to locate advocates in your community. Once you locate a professional, please investigate their background to insure that they are licensed, and that they do not have a history of complaints or disciplinary problems with their professional licensing authority.
        </p>
        <p>
            Please be aware that many of advocates might have been expired and many have stopped practices for the time being.
        </p>
        <p>
            We are not responsible for any inaccurate\obsolete\erroneous information crept in this directory and if anyone has any sort of loss or inconvenience cause by this.
        </p>
        <p>
            We have made our best effort to keep all information true and updated. So kindly request all to intimate us for corrections and removal of any personal data.
        </p>
        <br /><br /><br />

</div>

