﻿@model IEnumerable<Advocatesofkerala_mvc.Models.law_advocates>

@{
    ViewBag.Title = "LawFirms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Advocates of Kerala | Kerala Advocate's online directory | www.advocatesofkerala.com</title>
    <!-- jquery auto complete -->
<link href="~/Content/css/style-sheet/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <div class="loading-front" id="mydiv">
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
        <h1>Advocates of Kerala</h1>
    </div>
    <!--start header-->
    <header class="wrapper-row header-bg">
        <!-- start wrapper row-->
        <div class="wrapper-row background">

            <!--start container-->
            <div class="container">
                <!--start wrapper row-->
                <div class="wrapper-row padding-bottom-three">
                    <!--start col md 6 1-->
                    <div class="col-md-6  over-flow">
                        <!--start wrapper row-->
                        <div class="wrapper-row">

                            <!--start search cover-->
                            <div class="search_cover">
                                <script type="text/javascript">
                                    $(function () {
                                        $("#txtSearch").autocomplete({
                                            source: '@Url.Action("GetAdvocates")',
                                            minLength: 3
                                        });
                                    });
                                </script>
                                @using (Html.BeginForm("Index", "Main", null, FormMethod.Get, null))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.TextBox("SearchString", "", new { id="txtSearch", data_val = "true", data_val_required = "Name is required", @class = "search-box-pannel" })
                                    <button class="search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    @Html.ValidationMessage("SearchString")
                                }
                                    <br />
                                <div class="clear"></div>
                                <span style="color:gold; font-size:150%"> @ViewBag.Searchresult</span>
                            </div>
                            <!--end ssearch cover-->


                        </div>
                        <!--end wrapper row-->
                        <!--start wrapper row-->
                        <div class="wrapper-row padding-top-20px font-controller">
                            <p>
                                There are more than 45,000 advocates in Kerala ernrolled under Bar Council of Kerala. Most of them are members of any of the Bar Associations which are 84 in numbers. In this online directory, advocates are categorized based on the Bar Associations and district wise. However, we regret to say that we could not include all the Bar Associations and their member advocates. The process of collecting information is going on and in near future it will become a comprehensive online directory of Kerala advocates.
                            </p>
                        </div>
                        <!--end wrapper row-->
                    </div>
                    <!--end col md 6 1-->
                    <!--start col md 6 2-->
                    <div class="col-md-6 over-flow">
                        <div id="slider0" style="margin: 2% 0 0 0" class="hidden-xs">
                             <ul id="slider0Content" class="slideContentBorder">
                                @foreach (var item in Model)
                                {
                                    <div class="slider0Image listStyle col-lg-12">
                                        <div style="float:left; display:inline;">
                                            <a href="@Url.Action("AdvocateProfile", "Directory", new { id = item.AdvocateID })">
                                                <img alt="No Image" height="200" width="150" src="@Url.Content(String.Format("http://advocatesofkerala.com/MemPhoto/{0}", item.ImageID))" />
                                            </a>
                                        </div>
                                        <div style="float:left; display:inline;">
                                            <span style="z-index: 100; display: inline; ">

                                                <strong style="text-transform:capitalize">
                                                    @item.FullName
                                                </strong>
                                                <br />
                                                @item.Mobile<br>
                                                @item.EmailID<br><br>
                                                <strong>Office Address :</strong><br>
                                                @item.OffAddress <br>
                                                <br>
                                                <strong>Residence Address</strong>
                                                <br>
                                                @item.ResAddress

                                            </span>
                                        </div>
                                    </div>
                                }
                             </ul>
                            
                            
                        </div>
                    </div>
                    <!--end col md 6 2-->


                </div>
                <!--end wrapper row-->
            </div>
            <!--end container-->
        </div>
        <!--end wrapper row-->
    </header>
    <!--end header-->
    <!--start section 1-->
    <section class="content-section">
        <!--start container-->
        <div class="container">
            <!--start col md 3 1-->
            <div class="col-md-3 col-sm-3">
                <!--start line repeat-->
                <div class="line-repeat">
                    <a href="@Url.Action("BarAssociation","Directory", null) ">
                        <img src="~/Content/images/content-img/img-1.jpg" class="image-responsive">
                    </a>
                </div>
                <!--end line repeat-->
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <div class="title">
                        <h4>Advicate's Directory</h4>
                    </div>
                    <div class="light-font">
                        <p>Go to the Online Directory and find out the advocate whom you want to see.</p>
                    </div>
                </div>
                <!--end wrapper row-->

            </div>
            <!--end col md 3 1-->
            <!--start col md 3 2-->
            <div class="col-md-3 col-sm-3">
                <!--start line repeat-->
                <div class="line-repeat">
                    <a href="#">
                        <img src="~/Content/images/content-img/img-2.jpg" class="image-responsive">
                    </a>
                </div>
                <!--end line repeat-->
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <div class="title">
                        <h4>Bar Associations</h4>
                    </div>
                    <div class="light-font">
                        <p>Go to the Bar Associations which are 84 in number accross Kerala State.</p>
                    </div>
                </div>
                <!--end wrapper row-->

            </div>
            <!--end col md 3 2-->
            <!--start col md 3 3-->
            <div class="col-md-3 col-sm-3">
                <!--start line repeat-->
                <div class="line-repeat">
                    <a href="@Url.Action("MostViewed","Directory", null)">
                        <img src="~/Content/images/content-img/img-3.jpg" class="image-responsive">
                    </a>
                </div>
                <!--end line repeat-->
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <div class="title">
                        <h4>Most Viewed</h4>
                    </div>
                    <div class="light-font">
                        <p>See which advocate is viewed more times by the web portal users.</p>
                    </div>
                </div>
                <!--end wrapper row-->

            </div>
            <!--end col md 3 3-->
            <!--start col md 3 4-->
            <div class="col-md-3 col-sm-3">
                <!--start line repeat-->
                <div class="line-repeat">
                    <a href="@Url.Action("RecenltyUpdated","Directory", null)">
                        <img src="~/Content/images/content-img/img-4.jpg" class="image-responsive">
                    </a>
                </div>
                <!--end line repeat-->
                <!--start wrapper row-->
                <div class="wrapper-row">
                    <div class="title">
                        <h4>Recently Viewed</h4>
                    </div>
                    <div class="light-font">
                        <p>Review the advocates you have visisted recently from your personal computer.</p>
                    </div>
                </div>
                <!--end wrapper row-->

            </div>
            <!--end col md 3 4-->



        </div>
        <!--end container-->
    </section>
    <!--end section 1-->
    <!--start section 2-->
    <section class="section-repeat">
        <!--start containier-->
        <div class="container">
            <!--start wrapper row-->
            <div class="wrapper-row">
                <!--start col md 4 1-->
                <div class="col-md-4 hvr-grow">
                    <!--start list pannel-->
                    <div class="list-pannel bg-fff ">

                        <ul>
                            <li>
                                <div class="title-two">
                                    <h2>Short About</h2>
                                </div>
                                <div class="title-three">
                                    <h3>
                                        Online Directory for Kerala<br>Advocates
                                    </h3>
                                </div>
                            </li>
                            <li>
                                <p>
                                    The purpose of this online directory is to help general public to find out advocates online. All information about the advocates listed in the directory are taken from printed directories at various times and handwritten forms collected from various bar associations across Kerala state and hence the authenticity and accuracy of the information cannot be guaranteed.
                                </p>
                                <p>
                                    The information such as phone numbers, email id, address etc. might have been changed or incorrectly displayed by mistake. Also please be aware that many of advocates might have been expired, abandoned practice or elevated to some other posts.
                                </p>
                                <p>
                                    Although we have made our best effort to keep all information correct and updated, errors might have been occurred by mistake. So we are not responsible for any inaccurate\ obsolete\ erroneous information crept in this directory and any consequences regarding this. Requesting all advocates to contact us for corrections, updates and removal of any personal data.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!--end list pannel-->
                </div>
                <!--end col md 4 1-->
                <!--start col md 4 2-->
                <div class="col-md-4  hvr-grow">
                    <!--start list pannel-->
                    <div class="list-pannel bg-fff ">

                        <ul>
                            <li>
                                <div class="title-two">
                                    <h2>Our online directories</h2>
                                </div>
                                <div class="title-three">
                                    <h3>
                                        Find advocate online
                                    </h3>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!--end list pannel-->
                    <!--start link list-->
                    <div class="link-list">
                        <ul>
                            <li><a href="http://highcourtlawyers.com" target="_blank"><img src="~/Content/images/icons/icon-checkmark.png" class="tick">highcourtlawyers.com</a></li>
                            <li><a href="http://highcourtdirectory.com" target="_blank"><img src="~/Content/images/icons/icon-checkmark.png" class="tick">highcourtdirectory.com</a></li>
                            <li><a href="http://ernakulambarassociation.com" target="_blank"><img src="~/Content/images/icons/icon-checkmark.png" class="tick">ernakulambarassociation.com</a></li>
                            <li><a href="http://ernakulamlawyers.com" target="_blank"><img src="~/Content/images/icons/icon-checkmark.png" class="tick">ernakulamlawyers.com</a></li>
                            <li><a href="http://thrissuradvocates.com" target="_blank"><img src="~/Content/images/icons/icon-checkmark.png" class="tick">thrissuradvocates.com</a></li>
                            <li><a href="http://trivandrumadvocates.com" target="_blank"><img src="~/Content/images/icons/icon-checkmark.png" class="tick">trivandrumadvocates.com</a></li>
                            <li><a href="http://ladyadvocates.com" target="_blank"><img src="~/Content/images/icons/icon-checkmark.png" class="tick">ladyadvocates.com</a></li>
                        </ul>
                    </div>
                    <!--end link list-->
                </div>
                <!--end col md 4 2-->
                <!--start col md 4 3-->
                <div class="col-md-4 hvr-grow">
                    <!--start list pannel-->
                    <div class="list-pannel bg-fff ">

                        <ul>
                            <li>
                                <div class="title-two">
                                    <h2>Most Viewed</h2>
                                </div>
                                <div class="title-three">
                                    <h3>
                                        The most viewed advocates
                                    </h3>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!--end list pannel-->
                    <!--start link list-->
                    <div class="list-pannel bg-fff">
                        <ul>
                            @foreach (var item in ViewBag.AdvList)
                            {
                                <li class="padding-bottom-zerow padding-top-7">
                                    <span class="photo-span"><img src="http://advocatesofkerala.com/MemPhoto/@item.ImageID" class="image-responsive"></span>

                                    <!--start side list-->
                                    <div class="side-list">
                                        <ul>
                                            <li><a href="@Url.Action("AdvocateProfile", "Directory", new { id = item.AdvocateID })">@item.FullName</a></li>
                                            <li>
                                                @item.Mobile<br>
                                                @item.EmailID
                                            </li>
                                        </ul>
                                    </div>
                                    <!--end side-list-->
                                </li>
                            }
                        </ul>
                    </div>
                    <!--end link list-->
                </div>
                <!--end col md 4 3-->

            </div>
            <!--end wrapper row-->
        </div>
        <!--end container-->
    </section>
    <!--end section 2-->
