﻿@model IList<Advocatesofkerala_mvc.Models.law_legalfirms>
@{
    ViewBag.Title = "FirmDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container firm-title">
    @Html.ActionLink("View All Firms", "LawFirms", "Firms")
    @foreach (var item in @ViewBag.LawFirm)
    {
        <h3>
         @item.FirmName
        </h3>
        <!--start col md 12-->
        <div class="col-md-12 bg-fff padding-top-20px over-flow">

            <!--start wrapper row-->
            <div class="col-md-6">
                <div class="wrapper-row address">

                    <img alt="No Image" class="img-responsive" src="@Url.Content(String.Format("http://advocatesofkerala.com/Views/Firms/FirmLogo/{0}", item.LogoID))" /><br />
                    <h4 class="caption">Address</h4>
                    <p>
                        @item.Address

                    </p>

                    <ul>
                        <li><span>Telephone :</span>@item.OfficePhone, @item.OfficePhone2</li>
                        <li><span>Mobile :</span>@item.Mobile</li>
                        <li><span>Email :</span>@item.EmailID</li>
                        <li><span>Fax :</span> @item.Fax</li>
                        <li><span>Website :</span><a href=@item.Website target="_blank">@item.Website</a></li>
                    </ul>

                </div>
                <!--end wrapper row-->
            </div>


            <!--start col md 6 2-->
            <div class="col-md-6 left-solid">
                <!--start wrapper row-->
                <div class="wrapper-row padding-top-20px">
                    <h5>Legal Services :</h5>
                    <p>@ViewBag.Legalservice</p>

                </div>
                <!--end wrapper row-->
            </div>
            <!--end col md 6 2-->

        </div>
        <!--end col md 12-->
        <!--start wraper row -->
        <div class="wrapper-row padding-top-three">
            <!--start col md 12-->
            <div class="col-md-12 bg-fff padding-top-20px bold">

                <p>
                    <b>Legal Service we offer</b><br>
                    [legal service]
                </p>

            </div>
         

        </div>
        <!--end wrapper row-->
    }
</div>

