﻿@model IEnumerable<Advocatesofkerala_mvc.Models.law_legalfirms>
@{
    ViewBag.Title = "LawFirms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start section 2-->
<section class="wrapper-row low-firm">
    <!--start containier-->
    <div class="container">

        <!--start wrapper row 1-->
        <div class="wrapper-row">

            <!--start col  md 4 1-->
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-4 hvr-wobble-vertical">
                    <!--start wrapper row-->
                    <div class="wrapper-row color-fff list-display">
                        <!--<img src="images/icons/icon-1.png">-->

                            <h3>@item.FirmName</h3>

                        <ul>
                            <li>
                                <p>
                                    @item.Specilization
                                </p>
                            </li>
                        </ul>


                        <span class="padding-top-20px">
                            <a href="@Url.Action("FirmDetails","Firms", new { id=@item.FirmID})" class="read-more">Read more</a>
                        </span>
                    </div>
                    <!--end wrapper row-->
                </div>
            <!--end col md 4 1-->
            }
        </div>

    </div>
    <!--end container-->
</section>
<!--end section 2-->

